.footermaincontainer{
    background-color: black;
    width: 80%;
    margin: 0% auto;
    box-sizing: border-box;
    color:white;
    .firstdiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        .btn button{
            background-color: #1d1c1c;
            color:white;
            height: 4vh;
            width: 80px;
            font-size: 12px;
            border-radius: 4px;
        }
    }
}
    .secondiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px; 
        .btn p{
            display: inline;
            margin: 10px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 0;
            font-size: 10px;
            padding: 0%;
        }
    }
.thierddiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px; 
    .textcontaine{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        ul{
            list-style: none;
            li{
                letter-spacing: 1px;
                color: rgb(163, 163, 163);
            }
        }
    }
    /* .btn button{
        background-color: #1d1c1c;
        color:white;
        height: 4vh;
        width: 80px;
        font-size: 12px;
        border-radius: 4px;
    } */
}
@media (width <=1400px) {
    html{
      font-size: 56.25%;
    }  
  }
  @media (width <=1200px) {
      html{
        font-size: 54%;
      }  
    }
    @media (width <=990px) {
       
        
    }
    @media (width <=734px) {

    }
    @media (width <=690px) {

    }
    @media (width <=510px) {

    }
    @media (width <=470px) {
        .firstdiv{
            display: block;
        }
        .secondiv{
            display: block;
        }
        .thierddiv{
            display: block;
        }

    }